
<!DOCTYPE html>
<html>
<head>
	<!-- use Bootstrap library --> 
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!-- use form.js script to validate main form --> 
	<script src="./js/form.js"></script>

	<title>Form Validation App</title>
	<script type="text/javascript">

	</script>
	<style> 
		
	</style>
</head>	

<body style="width:400px;border: 1px solid #ddd;
position:relative;
left: 40%;
height:400px;
padding: 3px 10px;
top: 100px;    display: flex;
align-items: center;
justify-content: center;
box-shadow: 0 0 5px 5px #ddd">
<form action="/login" method="POST" style="    position: absolute;
    top: 88px;">
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  <p style="    position: absolute;top: 188px;"><a href="/signup">bạn chưa có tài khoản</a></p>
</form>

</body>
</html>	